/* Contact Us Page */
#canvas{
	background-color: #FDE948;
}
#contact{
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 8px #C9C9C9;
	-webkit-box-shadow: 0 0 8px #C9C9C9;
	box-shadow: 0 0 8px #C9C9C9;
	background: white;
	padding: 30px;
	width: 50%;
	max-width: 450px;
	margin: auto;
}
form {
    width: 95%;
    margin: auto;
}
p{
	margin: 0;
}
input,textarea{
	width: 100%;
	outline: none;
	padding: 8px;
	font-size: 17px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 8px auto;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma","Arial", sans-serif; 
	font-weight: 300;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
textarea{
	height: 120px;
	resize: vertical;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #A9A9A9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #A9A9A9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #A9A9A9;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #A9A9A9;
}
.focusField{
    background: #FFFAD7;
    border: 2px solid #FF7569;
}
.idleField{
	border: 2px #C9C9C9 solid;
}
input[type=submit]{
	display: block;
	color: white;
	background-color: #FF7569;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 10px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 25px;
	border: none;
}
input[type=submit]:focus{
	outline: none;
}
input[type=submit]:hover{
	background-color: #24BBC2;
	cursor: pointer;
}
/*checkbox*/
input[type=checkbox]{
	display:none;
}
input[type=checkbox]:checked + label:before {
	background-image:url("../img/checked.png");
	background-repeat:no-repeat;
	background-position:center; 
}
.checkbox_label:before {
  content: '';
  display: inline-block;
  margin-right: 8px;
}
.checkbox:before {
	position: relative;
	left: 0;
	top: 5px;
	width: 20px;
	height: 20px;
	border: 2px solid #C9C9C9;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

