#canvas {
	background-color:#E83131;
}
#load{
	overflow: hidden;
	min-width: 350px;
	text-align: center;
}

#resumes {
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 8px #C9C9C9;
	-webkit-box-shadow: 0 0 8px #C9C9C9;
	box-shadow: 0 0 8px #C9C9C9;
	background: white;
	padding: 25px 50px;
	vertical-align: top;
    horizontal-align: top;
    float: center;
}