/* New Resume Page */
#canvas{
	background-color: #76D6FF;
}

/*Tab Side Menu*/
#sidemenu ul{
	padding: 0;
	width: 200px;
	float: left;
	background: white;
	border-right: 1px solid #c9c9c9;
	z-index: 0;
}

#sidemenu ul li {
	list-style-type: none;
}

#sidemenu li a.active{
	background-color: #F9615F;
	color: white;
}

#sidemenu ul li a {
	color: #6C6C6C;
	text-decoration: none;
	font-size: 15px;
	line-height: 38px;
	display: block;
	padding: 0 15px;
	transition: all 0.15s;
}

#sidemenu ul li a:not(.open):hover {
	border-left: 6px solid #F9615F;
}

#sidemenu i{
	margin-right: 10px;
}

/* @end Tab Side Menu*/

/*Form Content*/
#form {
	position: relative;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 8px #C9C9C9;
	-webkit-box-shadow: 0 0 8px #C9C9C9;
	box-shadow: 0 0 8px #C9C9C9;
	margin-top: -15px;
	display: block;
	background: white;
	padding: 0px 30px;
	margin-left: 190px;
	min-height: 300px;
	z-index: 1;
	font-size: 15px;
}
.formblock {
	display: block;
	padding: 20px 30px;
}
.formblock.hidden {
	display: none;
}
#form input, textarea, select{
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif; 
	font-weight: 400;
	margin-left: 15px;
	outline: none;
	width: 370px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
textarea{
	min-height: 120px;
	resize: vertical;
}
@-moz-document url-prefix() {
    input, textarea, select{
    	font-size: 13px;
    	font-family: inherit;
    }
}
select{
	background-color: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: black;
}
.selected{
	color: #A9A9A9;
}
#form p{
	margin: 7px;
}
label{
	width: 170px;
	text-align: right;
	float: left;
	line-height: 23px;
	padding: 5px 0;
}
@media (max-width: 1000px){
	label{
		width: 100%;
		display: block;
		float: none;
		text-align: left;
	}
	#form input, textarea, select{
		width: 95%;
		margin-left: 0;
	}
}
.focusField{
    background: #E7F7FF;
    border: 2px solid #FF7569;
}
.idleField, select{
	border: 2px solid #ccc;
}
div.ui-datepicker{ 
	font-size: 13px;
}
/* @end Form Content*/

input[type="button"] {
	max-width: 100px;
	border: 1px solid #F9615F;
	border-radius: 5px;
	background-color: #F9615F;
	color: #fff;
}

input[type="button"]:hover {
	background-color: #A9A9A9;
	border: 1px solid #A9A9A9;
}

hr {
	display: block;
	border: 1px solid #F9615F;
	color: #F9615F;
}

/* @end New Resume Page */