/* New Resume Page */
#canvas{
	background-color: #76D6FF;
}

/*Tab Side Menu*/
#sidemenu ul{
	padding: 0;
	width: 200px;
	float: left;
	background: white;
	border-right: 1px solid #c9c9c9;
	z-index: 0;
}

#sidemenu ul li {
	list-style-type: none;
}

#sidemenu li a.active{
	background-color: #F9615F;
	color: white;
}

#sidemenu ul li a {
	color: #6C6C6C;
	text-decoration: none;
	font-size: 15px;
	line-height: 38px;
	display: block;
	padding: 0 15px;
	transition: all 0.15s;
}

#sidemenu ul li a:not(.open):hover {
	border-left: 6px solid #F9615F;
}

#sidemenu i{
	margin-right: 10px;
}

/* @end Tab Side Menu*/

/*Form Content*/
#form {
	position: relative;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 0 8px #C9C9C9;
	-webkit-box-shadow: 0 0 8px #C9C9C9;
	box-shadow: 0 0 8px #C9C9C9;
	margin-top: -15px;
	display: block;
	background: white;
	padding: 0px 30px;
	margin-left: 190px;
	min-height: 300px;
	z-index: 1;
	font-size: 15px;
}
.formblock {
	display: block;
	padding: 20px 30px;
}
.formblock.hidden {
	display: none;
}
#form input:not([type=checkbox]), textarea, select{
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif; 
	font-weight: 400;
	margin-left: 15px;
	outline: none;
	width: 370px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
textarea{
	min-height: 120px;
	resize: vertical;
}
@-moz-document url-prefix() {
    input, textarea, select{
    	font-size: 13px;
    	font-family: inherit;
    }
}
select{
	background-color: white;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: black;
}
.selected{
	color: #A9A9A9;
}
#form p{
	margin: 7px;
}
label{
	width: 170px;
	text-align: right;
	float: left;
	line-height: 23px;
	padding: 5px 0;
}
@media (max-width: 1000px){
	label{
		width: 100%;
		display: block;
		float: none;
		text-align: left;
	}
	#form input:not([type=checkbox]), textarea, select{
		width: 95%;
		margin-left: 0;
	}
}
.focusField{
    background: #E7F7FF;
    border: 2px solid #FF7569;
}
.idleField, select{
	border: 2px solid #ccc;
}
div.ui-datepicker{ 
	font-size: 13px;
}
.ed_fields, .w_fields{
	border-bottom: 2px solid #FC605B;
	padding-bottom: 30px;
	margin-bottom: 40px;
}
/* @end Form Content*/

input[type=checkbox]{
	margin: 10px 15px;
}
@media (max-width: 1000px){
	.check{
		padding-top: 10px;
		margin: 0; 
		padding-left: 0;
	}
	.check label{
		display: inline;
	}
	input[type=checkbox]{
		margin: 0px 15px;
	}
}

/* Button */
#form input[type=submit], .button{
    border: 1px solid #FC605B;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
	background-color: transparent;
	padding: 8px;
}
#form input[type=submit]{
	background-color: #FC605B;
	font-size: 18px;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma","Arial", sans-serif; 
	font-weight: 300;
	width: 200px;
	color: white;
	margin: 30px 10px;
}
.button{
	width: 112px;
	font-weight: 400;
	color: inherit;
	display: inline-block;
	text-align: center;
}
.button .fa-fw{
	margin-right: 5px;
}
.button:focus{
	outline: none;
}
.button:hover{
	color: #2B2A27;
	background-color: #B4EBFF;
	cursor: pointer;
}
#form input[type=submit]:hover{
	color: white;
	background-color: #0FBBC3;
	cursor: pointer;
	border-color: #0FBBC3;
}

/* @end Button*/

.thumbnail{
	width: 222px;
}

/* @end New Resume Page */